.d1 {
    background:#F1F1F1;
    height: 662px;
}

.img1 {
  margin: 10%;
}

.l1 {
    margin-left: 10%;
    font-size: 16px;
    line-height: 16px;
    color: #637282;
    display: block;
    -ms-flex: 1;
    text-decoration: none;
}

.l2 {
    margin-left: 10%;
    font-size: 16px;
    line-height: 16px;
    color: #637282;
    display: block;
    -ms-flex: 1;
    text-decoration: none;
}

.starred {
    padding: 16px;
    background-color: #F7F9FA;
    border-radius: 4px;
    border: 1px solid #E6E8EB;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.upload-button {
    line-height: 32px;
    padding: 0 16px;
    font-weight: 500;
    border: none;
    color: #FFF;
    background-color: #0070E0;
}

.upload-submit {
    line-height: 32px;
    padding: 0 16px;
    font-weight: 500;
    border: none;
    color: #FFF;
    background-color: #0070E0;
}

.files-dropzone-list {
  height: 30px;
}

.b1 {
    line-height: 50px;
    padding: 0 16px;
    font-weight: 500;
    border: none;
    color: #FFF;
    background-color: #0070E0;
    float:right;
}
